{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>
        {% trans %}Confirm Your Account{% endtrans %}
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
        {% include "components/errors.html" %}

        <h5 class="text-center">
          {% trans %}Enter the 6-digit code sent to your email address to confirm your account.{% endtrans %}
        </h5>
        <h5 class="text-center text-muted">
          {% trans %}The code expires in 30 minutes. Check your spam folder if you do not see it.{% endtrans %}
        </h5>

        <hr>

        {% with form = Forms.auth.ConfirmCodeForm() %}
          <form method="POST" action="{{ url_for('auth.confirm') }}">
            <div class="mb-3">
              {{ form.code.label(class="form-label") }}
              {{ form.code(class="form-control form-control-lg text-center") }}
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                {{ form.submit(class="btn btn-primary w-100 p-2") }}
              </div>
              <div class="mb-3 col-md-6">
                <button type="submit" name="code" value="" class="btn btn-outline-secondary w-100 p-2">
                  {% trans %}Resend Code{% endtrans %}
                </button>
              </div>
            </div>
            {{ form.nonce() }}
          </form>
        {% endwith %}

        <div class="text-center mt-3">
          <a href="{{ url_for('views.settings') }}">
            {% trans %}Change email address{% endtrans %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
